h1 {
  font-family: 'Fredericka the Great';
  font-size: 9.5rem;
  color: rgb(243, 240, 237);
  background-color: rgba(5, 136, 44, 0.8);
  text-align: center;
  width: 100%;
  margin-top: auto;
  font-weight: 450;
  margin-bottom: 0.09%;
}

#featured,
#blog,
#aboutus,
#reviews,
.topnav a {
  font-family: 'Abril Fatface';
  font-size: 1rem;
  color: rgb(44, 29, 6);
  float: right;
  font-size: 2.5rem;
  text-align: top;
  padding: 5px 10px;
  margin: auto;
}

/* Add a beige background color to the top navigation */
.topnav {
  background-color: rgba(5, 136, 44, 0.8);
  overflow: hidden;
  margin: 0%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(246, 224, 196, 0.7);
  color: rgba(0, 0, 0, 0.7);
}