h1 {
    font-family: 'Fredericka the Great';
    font-size: 8.5rem;
    color: rgb(243, 240, 237);
    background-color: rgba(6, 112, 38, 0.9);
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-weight: 450;
    margin-bottom: 0.09%;
}

h3 {
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: rgb(27, 15, 7);
    outline: 3px solid rgba(246, 224, 196, 0.8);
    background-color: rgba(246, 224, 196, 0.8);
    width: 100%;
    padding: 0%;
    font-size: 3.5rem;
    font-weight: 250;
    margin: 0%;
}

#description {
    margin-bottom: 10px;
    /*position: fixed;*/
    /*right: 27%;
    bottom: 13%;*/
    /*margin: auto;*/
    /*border: 3px solid rgba(246, 224, 196,0.7);*/
    /*border-radius: 50%;*/
}

.search {
    font-size: 25px;
    align-items: center;
    color: rgb(255, 234, 195);
    justify-content: center;
    margin-left: 15%;
}

#featured,
#blog,
#aboutus,
#reviews,
.topnav a {
    font-family: 'Fredericka the Great';
    color: rgb(243, 240, 237);
    float: left;
    font-size: 2.5rem;
    text-align: top;
    padding: 5px 10px;
    margin: auto;
}

/* Add a beige background color to the top navigation */
.topnav {
    background-color: (248, 244, 238, 0.9);
    overflow: hidden;
    margin: 0%;
    position: -webkit-sticky;
    position: sticky;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(5, 136, 44, 0.8);
    color: rgba(0, 0, 0, 0.7);
}

#zipcode,
#search {
    align-items: center;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

.index-container {
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.sub-container {
    width: 60%;
    margin: auto;
}

.image-pro {
	position: -webkit-sticky;
    position: sticky;
	top:0;
	width:100%;
	height: 100%;
}


.search-bar {
    position: -webkit-sticky;
    position: sticky;
    text-align:center;
    width:50%;
    margin:auto;
    font-family: 'Alata';
    font-size: 1rem;
    color: rgb(44, 29, 6);
    float: right;
    font-size: 2.5rem;
    text-align: top;
    padding: 5px 5px;
}

.results-card-width {
width: 50 rem;
}

.col{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    width: 900px;
    display: flex;
    align-items: center;
    background-color:rgba(248, 244, 238, 0.9);
  }
  
  .card-title{
      font-family: 'Gilda Display';
      margin-bottom: 1%;
  }

  h6, 
  .footer{
    font-family: 'Gilda Display';
    text-align: center;
    color: rgb(243, 240, 237);
    background-color:rgba(4, 87, 29, 0.9);
    left: 40%;
    font-size: 2.5rem;
    font-weight: 250;
    position: absolute;
    bottom: 0;
    width: 20%;
    padding-top: 0.5%;
}

.footer{
    height: 6%;
}

.card{
    background-color: rgba(246, 224, 196, 0.8);
}

.card-text{
    text-align: left;
    text-decoration: none;
}

.card-img-top{
    display: block;
    height: 280 px;
    width:400px;
}

.card-body{
    align-items: right;
    text-align: left;
    position: relative;
    padding: 3%;
    text-decoration: none;
}














