h1{
    font-family: 'Playfair Display', serif;
    font-size: 4.0rem;
    color: rgb(27, 15, 7);
    background-color: rgba(246, 224, 196,0.8);
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-weight: 550;
}

#featured, #blog, #aboutus, #reviews, .topnav a{
    font-family: 'Abril Fatface';
    font-size: 1rem;
    color: rgb(44, 29, 6);
    float: right;
    font-size: 1.3rem;
    text-align: top;
    padding: 5px 5px;
    margin: auto;
}

/* Add a beige background color to the top navigation */
.topnav {
    background-color: rgba(246, 224, 196,0.8);
    overflow: hidden;
    margin: 0%;
  }  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(246, 224, 196,0.7);
    color: rgba(0, 0, 0, 0.7);
  }
