
h1{
    font-family: 'Abril Fatface';
    font-size: 5rem;
    color: rgb(44, 29, 6);
    background-color: rgba(246, 224, 196,0.7);
    text-align: center;
    width: 100%;
}

h3{
    font-family:'Playfair Display',sans-serif;
    text-align: center;
    color:rgba(246, 224, 196,0.7);
    outline:3px solid rgba(246, 224, 196,0.7);
    padding: 20px;
    width: 160px;
    height: 80px;
    border-radius: 50%
}

#featured, #blog, #aboutus, #reviews, .topnav a{
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
    color: rgb(44, 29, 6);
    float: left;
    font-size: 1.5rem;
    color: rgb(44, 29, 6);
    text-align: top;
    padding: 14px 16px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(246, 224, 196,0.7);;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(246, 224, 196,0.7);
    color: rgba(0, 0, 0, 0.7);
  }

  #zipcode, #search{
      align-items: center;
      text-align: right;
  }
  #menu{
      background-color: (246, 224, 196);
      color:(246, 224, 196);
      size: 2rem;
  }