h1{
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    color: rgb(27, 15, 7);
    background-color: rgba(246, 224, 196,0.4);
    text-align: center;
    width: 100%;
    margin-top: 8%;
    font-weight: 550;
}

h3{
    font-family:'Playfair Display', serif;
    text-align: center;
    color:rgba(27, 15, 7);
   /* outline:3px solid rgba(246, 224, 196,0.7);*/
    background-color:rgba(246, 224, 196,0.5);
    width: fit-content;
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: 500;
}
#description{
    position: fixed;
    right:23%;
    bottom: 40%;
    /*border: 3px solid rgba(246, 224, 196,0.7);*/
    /*border-radius: 50%;*/
}
.search{
    position: fixed;
    right:19%;
    bottom: 35%;
    font-size: 25px;
    align-items: center;
    color: rgb(255, 234, 195);
}

#featured, #blog, #aboutus, #reviews, .topnav a{
    font-family: 'Abril Fatface';
    font-size: 1rem;
    color: rgb(44, 29, 6);
    float: left;
    font-size: 1.3rem;
    color: rgb(44, 29, 6);
    text-align: top;
    padding: 10px 10px;
}

/* Add a beige background color to the top navigation */
.topnav {
    /*background-color: rgba(246, 224, 196,0.7);*/
    overflow: hidden;
    margin-bottom: 1%;
  }  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(246, 224, 196,0.7);
    color: rgba(0, 0, 0, 0.7);
  }

  #zipcode, #search{
      align-items: center;
      text-align: right;
  }
